@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.min-vh-100 {
    min-height: 100vh;
}


.w-100 {
    width: 100%;
}



.mb-24 {
    margin-bottom: 24px;
}

.text-center {
    text-align: center;
}


.lh-50 {
    line-height: 50px;
}

.gap-50 {
    gap: 50px;
}
.gap-9{
    gap: 9px;
}
/*section-1*/
.bg-pic {
    background-image: url(../image/Group\ 43172.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

}
.head-1{
    background: linear-gradient(180deg, #000000 36.19%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    padding: 30px;
}
.box-footer{
    background: linear-gradient(180deg, #030D01 0%, rgba(3, 13, 1, 0) 100%);
    padding-bottom: 50px;
}
.home {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
   }

.link {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    opacity: 70%;
}

.btn-1 {
    border: 2px solid rgba(255, 194, 10, 1);
    border-radius: 2rem;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    text-align: left;
    background: rgba(255, 194, 10, 1);
    color: rgba(255, 255, 255, 1);
    padding:5px  15px;
}

.box {
    backdrop-filter: blur(2px);
}

.box-2 {
    width: 32px;
    height: 32px;
    border-radius: 46px;
    border: 1px solid #fff;
    display: flex; 
    background-color: black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.APE {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);

}

.CHIMPZ {
    font-family: "Exo 2", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: rgba(59, 148, 94, 1);
    /* text-shadow: 2px 2px 8px rgba(255, 255, 255, 1); */
    text-shadow: none;
}

.green {
    font-family: "Exo 2", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
}

.text-1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
    max-width: 631px;
    height: 48px;

}




/*section-3*/

.nav-items-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.2926828861236572px;
    text-align: left;
    color: rgba(30, 14, 98, 1);
    margin-top: 30px;

}

.dropdown {
    font-family: "DM Sans", sans-serif;
    color: rgba(21, 20, 57, 0.4);

}

.btn-secondary {
    --bs-btn-bg: none !important;
    --bs-btn-color: none !important;
    --bs-btn-border-color: none !important;
}


a {
    text-decoration: none !important;
}

.section-3 {
    padding: 50px;
}

.nav-link-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);
    padding-top: 40px;



}

.nav-link-2 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);
    margin-left: 120px;
    padding-top: 40px;

}


.btn-4 {
    border: 2px solid rgba(37, 218, 197, 1);
    border-radius: 2rem;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(37, 218, 197, 1);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;


}

.paragraph-3 {

    font-family: "DM Sans", sans-serif;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: rgba(30, 14, 98, 1);
    margin-top: 80px;
}

input[type="text-email"] {
    border: 2px solid rgba(235, 234, 237, 1);
    border-radius: 100px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    padding-left: 20px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 470px;

}

input[type="password"] {
    border: 2px solid rgba(235, 234, 237, 1);
    border-radius: 100px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 470px;

}

.Sign {
    border: 2px solid rgba(37, 218, 197, 1);
    border-radius: 100px;
    background: rgba(37, 218, 197, 1);
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding-top: 10px;
    color: rgba(235, 234, 237, 1);
    padding-bottom: 10px;
    width: 470px;
    margin-top: 20px;



}

::placeholder {
    color: rgba(161, 161, 176);
}

.paragraph-4 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);
    margin-top: 20px;
}

iframe {
    margin-top: 100px;
}

.paragraph-5 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);
    margin-top: 20px;
}











/*Responsive*/
@media(min-width:992px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }


    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(min-width:768px) {
    .col-md-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media(min-width:576px) {
    .col-sm-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-sm-0 {
        margin-bottom: 0;
    }

}

@media (max-width:992px) {
    .columns {
        flex-direction: column-reverse;
    }
}

@media (max-width:992px) {
    label[for="list-1"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }


    label[for="list-1"]>span {
        width: 100%;
        height: 3px;
        background-color: white;
        z-index: 2;
    }

    input#list-1:checked~.ul-color {
        background-color: black;
        right: 0;
    }

    input:checked~label[for="list-1"]>span:nth-child(1) {
        transform: rotate(64deg);
        transform-origin: left;
    }

    input:checked~label[for="list-1"]>span:nth-child(2) {
        transform: rotate(-40deg);
        opacity: 0;

    }

    input:checked~label[for="list-1"]>span:nth-child(3) {
        transform: rotate(-63deg);
        transform-origin: left;
    }


    .ul-color {

        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: black;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 2;
        transition: all 200ms linear;
    }
}